@charset "utf-8"; 
*
{
	margin:0;
	padding:0;
}	
body
{
	width: 1280px;
	height: 97%;
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #cecece 81.5%, #c4c4c4 81.5%, #ddd 100%) no-repeat;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #cecece 81.5%, #c4c4c4 81.5%, #ddd 100%) no-repeat;
	background: -o-linear-gradient(top, #f2f2f2 0%, #cecece 81.5%, #c4c4c4 81.5%, #ddd 100%) no-repeat;
	text-align: center;
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 20px 20px 20px 20px;
	z-index: 1;
}
#container
{
	background-color: white;
	border-radius: 20px 20px 0 0;
	box-shadow: 0 10px 40px 0 rgba(0,0,0,1);
}
#header
{
	padding: 5px;
	height: 300px;	
	border-radius: 20px 20px 0 0;
	background: url(images/header_Background.png);
}
#logo
{
	background: url(images/logo_with_final.png);
	width: 510px;
	border-radius: 20px 20px 0 0;
}
#headerCaption
{
	width: 350px;
}
#container .cover
{
	background-size: cover;
}
.flLeft
{
	float: left;
	width: 50px;
	height: 300px;
	position:relative;
}
#homeButton
{
	background: url(images/home.png);
}
#contactsButton
{
	background: url(images/contacts.png);
}
button
{
	height: 11px;
	width: 11px;
	border: 0;
}
#homeButton:hover, #contactsButton:hover
{
	background-position: 0 -11px;
	cursor: pointer;
}
.header
{
	position:absolute;
	bottom:25px;
}
.ua
{
	background: url(images/ua.png) no-repeat;
}
.ru
{
	margin-left: 10px;
	background: url(images/ru.png)no-repeat;
}
#header .ua, .ru
{
	height: 30px;
	width: 39px;
	border: 0;
	text-indent: -100px;
	border-radius: 1px;
	box-shadow: 0 3px 4px -1px rgba(0,0,0,1);
}
#setLanguage form
{
	height: 30px;
}
#header .ua:hover, #header .ru:hover
{
	cursor: pointer;
}
.uline
{
	background-color: #fff;
	border:1px solid #ccc;
	border-left: 0;
	border-right: 0;
	height: 3px;
}
#horizontalMenu
{
	background-color: white;
	height: 50px;
	margin-bottom: 10px;
}
#horizontalMenu ul
{
	width: 100%; 
	height: 40px;
	margin: 0;
}
#horizontalMenu li
{
	float: left;
	list-style-type: none;
	width: 25%;
}
#horizontalMenu li a
{
	background: -webkit-linear-gradient(top, #aaf 0% , #55f 100%);
	background: -moz-linear-gradient(top, #aaf 0% , #55f 100%);
	border-radius: 0 0 10px 10px;
	box-shadow: inset 0 0 15px -2px rgba(0,0,0,0.5);
	-webkit-transition: 0.4s;
}
#horizontalMenu li.active a
{
	background-color: yellow;
	border-radius: 0 0 10px 10px;
	position: relative;
	top: 10px;
	z-index: 1;
	background: -webkit-linear-gradient(top, #B69F41 0% , #aff 100%);
	background: -moz-linear-gradient(top, #B69F41 0% , #aff 100%);
	color: black;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	box-shadow: inset 0 0 15px rgba(0,0,0,1);
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
}
#horizontalMenu li a:hover
{
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	position: relative;
	top: 0;
	background: -webkit-linear-gradient(top, #eef 0% , #aaf 100%);
	background: -moz-linear-gradient(top, #eef 0% , #aaf 100%);
	border-radius: 0 0 10px 10px;
	color: black;
	box-shadow: inset 0 0 15px -2px rgba(0,0,0,0.5);
	cursor: pointer;
}
#horizontalMenu li a
{
	color: white;
	display: block;
	text-decoration: none;
	height: 100%;
	font: 13px/40px Arial;
}
.stepcarousel
{
	position: relative;
	left: 40px;
	overflow: scroll;
	width: 1200px; 
	height: 500px; 
	margin-bottom: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,1);
}
.stepcarousel .belt
{
	position: absolute; 
	left: 0; top: 0; 
}
.stepcarousel .panel
{
	float: left;
	overflow: hidden;
	width: 1200px;
}
#content
{
	background-color: white;
	width: 1100px;
	position: relative;
	left: 90px;
	min-height: 220px;
	margin: 30px 0 30px 0;
}
#content .clear_both, #container .clear_both
{
	clear: both;
	height: 1px;
}
#blurb
{
	width: 212px;
	height: auto;
	float: left;
}
#photos
{
	background: url(images/photo.png);
	height: 199px;
	margin: 10px;
}
#office
{
	height: 199px;
	margin: 10px;
	margin-left: 30px;
}
#photos:hover, #office:hover
{
	background-position: 0 -198px;
	cursor: pointer;
}
#text
{
	float: right;
	width: 850px;
	display: block;
	text-align: justify;
	padding: 10px;
}
#indexText
{
	display: block;
	margin-left: 30px;
}
#techText
{
	display: block;
	margin-bottom: 50px;
}
p
{
	text-indent: 20px;
	color: gray;
	margin: 20px;
}
h1
{
	color: black;
	
}
h2
{
	margin-bottom: 10px;
}
#techText ul
{
	margin: 20px;
	list-style-type: none;
}
#sup_text
{
	vertical-align: super;
	font: 10px Arial;
}
footer
{
	left: 40px;
	width: 1200px;
	height: 150px;
	background-color: #fff;
	background: url(images/footer_Background.png);
	background-size: cover;
	border-radius: 0 0 20px 20px;
	margin: 0 auto;
	box-shadow: inset 0 50px 50px -40px rgba(0,0,0,1);
}
footer ul
{
	list-style-type: none;
	display: block;
	height: auto;
	width: 150px;
	padding: 30px 20px 20px 50px;
	text-align: right;
	float: left;
}
footer li a
{
	text-decoration: none;
	font: 13px/25px arial;
	color: black;
}
footer li a:hover
{
	color: brown;
	cursor: pointer;
}
#contacts
{
	display: block;
	text-align: left;
	padding-left: 0;
}
#contacts li 
{
	font: 11px/25px arial;
	color: black;
}
#gallery table
{
	width: 1000px;
	margin: 40px auto 0 auto;
	padding-bottom: 40px;
}
#gallery table td
{
	width: 200px;
	max-height: 200px;
   overflow: hidden;
   display: inline-block;
   margin: 20px;
   box-shadow: 0 0 40px rgba(0,0,0,1);
}
#gallery table td:hover, #close:hover, .inherit:hover, #overLay:hover
{
	cursor: pointer;
}
#galleryL
{
	position: fixed;
	z-index: -1;
	opacity: 0;
	-webkit-transition:1s;
	-moz-transition:1s;
	-o-transition:1s;
}
.inherit
{
	position: inherit;
	opacity: 0;
}
#close
{
	background: url(images/close.png);
	height: 40px;
	width: 40px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
}
#description
{
	padding: 20px;
	text-align: left;
}