.datepicker-inline{
    margin: 20px auto;
}
.booking-popup{
    outline: none;
}
.booking-popup .reserve{
    background-image: linear-gradient(to bottom, #97C3C3, white);
    color: black;
    font-weight: bold;
}
.booking-popup h3,
h3.popover-title{
    color: black;
    letter-spacing: normal;
}
.booking-popup .modal-body{
    background-image: url(/img/booking/day/time_line_bg.jpg);
    background-repeat: no-repeat;
    height: 400px;
    padding: 0 15px;
}
.booking-popup .station{
    float: right;
    margin-right: 15px;
    text-align: center;
    width: 27%;
}
.booking-popup .station-body{
    background-image: url(/img/booking/day/day_bg.jpg);
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px black;
    cursor: pointer;
    height: 360px;
    position: relative;
}
.booking-popup .station-session{
    background-color: rgba(255, 0, 0, .5);
    border-radius: 5px;
    box-shadow: 0 0 13px 2px grey;
    display: block;
    margin: 0 5%;
    position: absolute;
    width: 90%;
}
.tooltip,
.popover{
    z-index: 1151 !important;
}