.gallery-nav{
    position: absolute;
    left: 50%;
    top:13px;
    visibility: hidden;
    font-size: 25px;
    margin-left: -60px;
}
.gallery-nav:after{
    display: block;
    content: '';
    clear: both;
}
.gallery-nav.active{
    visibility: visible;
}
.gallery-nav nav{
    cursor: pointer;
    float: left;
    margin: 0 20px;
    color: rgba(255,255,255,.5);
}
.gallery-nav nav:hover{
    color: rgba(255,255,255,1);
}
.close{
    opacity: .4;
}
.close:hover{
    opacity: 1;
}