*,
section.gallery ul{
    margin: 0;
}
*{
    padding: 0;
}
/* custom styles */
section.gallery ul{
    padding-bottom: 10px;
}
section li a,
section li .overLayer, section li .infoLayer {
    height: 187px;
    width: 250px;
}
section li .infoLayer ul li {
    padding: 5px 0 0;
}
#fullPreview img{
    cursor: pointer;
}