.popover-content:after{
    content: '';
    display: block;
    clear: both;
}
.popover-content a{
    clear: both;
    color: #353535;
    display: block;
    float: none;
    font-size: 1.3em;
    height: 20px;
    text-align: center;
    width: 100%;
}
.popover-content a:hover{
    color: #4584D6;
}
.begin{
    float: left;
}
.begin:before{
    display: block;
    clear: both;
    content: 'Час початку:';
    float: none;
    margin-bottom: 5px;
    text-align: center;
}
.end{
    float: right;
}
.end:before{
    display: block;
    clear: both;
    content: 'Час закінчення:';
    float: none;
    margin-bottom: 5px;
    text-align: center;
}
.hours,
.mins{
    float: left;
}
.begin .time-input,
.end .time-input{
    border: none;
    border-radius: 3px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    box-shadow: 2px 2px 7px 0px grey;
    color: #1e1e1e;
    margin: 0 5px 7px;
    text-align: center;
    width: 20px;
}
.time-total,
.cost-total{
    /*clear: both;*/
    float: left;
    width: 48%;
    margin: 1%;
}
/*.time-total .caption,
.cost-total .caption{*/
    /*clear: both;*/
/*}*/
.time-total .caption:before,
.cost-total .caption:before,
.time-total .caption,
.cost-total .caption{
    display: block;
    font-weight: bold;
}
.time-total .caption:before {
    content: 'Тривалість:';
}
.cost-total .caption:before {
    content: 'Вартість:';
}
.button-wrap:before {
    content: '';
    display: block;
    clear: both;
    heght: 100px;
}
.button-wrap .cancel{
    float: right;
}
.button-wrap button{
    margin-top: 10px;
}