*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    position: relative;
    background: black url("/img/sun.jpg");
    background-repeat: no-repeat;
    background-position: -60px 0;
    width: 100vw;
    height: 100vh;
    cursor: url("/img/cursor128.png"), auto;
    /*background-size: cover;*/
    /*transition: .5s linear;*/
}
.container{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: scale(1.2);
}
.end{
    background: url("/img/end_window.png");
}
.outer-item.corner{
    background: url("/img/outer_corner.png");
}
.inner-item.corner{
    background: url("/img/inner_corner.png");
}
.chaser{
    background: url("/img/inner_chaser.png");
}
.side{
    background: url("/img/side.png");
}
.left{
    left: 0;
}
.right{
    right: 0;
    transform: scaleX(-1);
}
.bottom{
    transform: scaleY(-1);
    bottom: 0;
}
.bottom.right{
    transform: scale(-1, -1);
}
.container .outer-item, .container .inner-item{
    background-size: 100%;
    background-repeat: no-repeat;
}
.positioned{
    position: absolute;
}
.left.side,
.right.side{
    background-repeat: repeat-y;
}
.corner{
    pointer-events: none;
}
.inner-wrap{
    overflow: hidden;
}
.inner-wrap .inner-item{
    z-index: 4;
}
.menu{
    position: absolute;
    right: -20vh;
    /*border: 1px solid blue;*/
    height: 40vh;
    width: 40vh;
    top: 30vh;
    background-image: url("/img/_sphere_.png");
    background-repeat: no-repeat;
    background-size: contain;
    /*background-position-y: 10px;*/
    z-index: 3;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    position: absolute;
    width: 145px;
    height: 46px;
    transition: .5s;
    background: url('/img/button.png');
    text-align: center;
    display: table;
}
.menu li[data-seq-num]{
    opacity: 0;
    right: -100%;
    top: 50%;
}
.menu li[data-seq-num = '0'],
.menu li[data-seq-num = '4']{
    right: 50%;
    opacity: .5;
}
.menu li[data-seq-num = '1'],
.menu li[data-seq-num = '3'] {
    right: 85%;
    opacity: .75;
}
.menu li[data-seq-num = '0']{
    top: -12%;
}
.menu li[data-seq-num = '1']{
    top: 10%;
}
.menu li[data-seq-num = '2']{
    top: 35%;
    right: 100%;
    opacity: 1;
}
.menu li[data-seq-num = '3']{
    top: 70%;
}
.menu li[data-seq-num = '4']{
    top: 100%;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: monospace;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 0 white;
    transition: 1s;
}
.menu li:hover{
    opacity: 1;
    cursor: cell;
}
.menu li:hover a{
    text-shadow: 2px 2px 5px grey;
    cursor: url("/img/cursor_active.png"), cell;
}
.logo{
    background: url("/img/logo.png");
    width: 420px;
    height: 137px;
    background-repeat: no-repeat;
    /*top: calc(50% - 65px);*/
    top: 20px;
    left: calc(50% - 210px);
    position: absolute;
    z-index: 1;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 5%;
    transition: .2s linear;
    z-index: 2;
}
.content-item{
    transition: .1s linear;
    font-family: sans-serif;
    /*position: relative;*/
}
.content-item[data-visible='true']{
    opacity: 1;
}
.content-item[data-visible="false"],
.content-item[data-visible="false"] *{
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.gallery-list{
    list-style-type: none;
}
.game-item,
.gallery-item{
    float: left;
    margin: 8px;
    position: relative;
    z-index: 5;
}
.game-item img,
.gallery-item img{
    width: 8vw;
}
.game-item:hover{
    z-index: 6;
}
.game-item img:hover{
    box-shadow: 0 0 6px #ffe000;
}
.game-item:hover .desc-wrap{
    visibility: visible;
}
.game-item .desc-wrap{
    position: absolute;
    visibility: hidden;
    background: rgba(255, 255, 255, .8);
    width: 300%;
    border-radius: 0 10px;
    padding: 10px;
    border: 1px solid yellow;
    box-shadow: inset 0 0 10px black;
    font-size: 12px;
    font-family: sans-serif;
    z-index: 6;
}
.game-item .desc-list{
    list-style-type: none;
}
.game-item .desc-text{
    display: block;
}
.game-item .desc-caption{
    color: #880000;
    font-weight: bold;
}
.game-item hr{
    margin: 5px 0;
    background: #AB2F2F;
}
.simple-text{
    padding: 20px;
    width: 85%;
    background: rgba(255, 255, 255, .3);
    border-radius: 10px;
}
.simple-text table{
    font-size: .8em;
}
.simple-text table th{
    padding-right: 10px;
}
.simple-text table td{
    text-align: center;
}
.gallery-item img:hover,
.photo-box img,
.photo-box .nav
{
    cursor: url("/img/cursor_active.png"), cell;
}
.photo-box{
    position: absolute;
    z-index: 7;
    transition: .2s;
    /*top: 15%;*/
}
.photo-box.disable{
    left: -2000px;
}
.photo-box.enable{
    left: 0;
}
.photo-box .border{
    height: 29px;
    /*height: 44px;*/
    background-size: 100% 200%;
    background-image: url("/img/photo_border.png");
    background-repeat: no-repeat;
}
.photo-box .bottom{
    background-position-y: -29px;
    transform: none;
}
.photo-box img{
    margin-bottom: -4px;
    border-width: 0 2px;
    border-style: solid;
    border-color: #C7C764;
}
.photo-box .nav{
    width: 60px;
    height: 60px;
    position: absolute;
    top: calc(50% - 40px);
    background-image: url('/img/photo_arrow.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    transition: .1s;
}
.photo-box .nav:hover{
    /*height: 41px;*/
    /*top: calc(50% - 23px);*/
    /*transform: scale(.8);*/
    background-size: 71%;
    background-position: 18px 32px;
}
.photo-box .left{
    left: -18px;
}
/*.photo-box .left:hover{*/
    /*left: -6px;*/
/*}*/
.photo-box .right{
    right: -18px;
}
/*.photo-box .right:hover{*/
    /*right: -6px;*/
    /*transform: scale(-.8, .8);*/
/*}*/
.photo-shadow{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    z-index: 6;
    display: none;
    transition: .2s;
}
.photo-shadow:hover{
    background-color: rgba(124,124,124,.3);
}
.red{
    color: red;
}